### **EDA: PARAMOUNT PLUS**
#### En este EDA vamos analizar el dataset de las películas y series de Paramount, profundizando en sus ratings, tipo de producción, edades, géneros, duración, popularidad, críticas, años de lanzamiento...

In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

df_paramount = pd.read_csv("titles.csv")
series = df_paramount[df_paramount['type'] == "SHOW"]
peliculas = df_paramount[df_paramount['type'] == "MOVIE"]

### Inspección de los datos

In [34]:
df_paramount.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
1,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
2,tm19424,Detour,MOVIE,"The life of Al Roberts, a pianist in a New Yor...",1945,NaN,66,"['thriller', 'drama', 'crime']",['US'],NaN,tt0037638,7.3,17233.0,7.757,7.2
3,tm112005,Marihuana,MOVIE,A young girl named Burma attends a beach party...,1936,NaN,57,"['crime', 'drama']",['US'],NaN,tt0026683,4.0,864.0,3.748,3.6
4,tm22806,Intolerance: Love's Struggle Throughout the Ages,MOVIE,"The story of a poor young woman, separated by ...",1916,NaN,197,"['history', 'drama']",['US'],NaN,tt0006864,7.7,15242.0,9.412,7.2

In [35]:
df_paramount.shape

(2825, 15)

In [36]:
df_paramount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2825 entries, 0 to 2824
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    2825 non-null   object
 1   title                 2825 non-null   object
 2   type                  2825 non-null   object
 3   description           2812 non-null   object
 4   release_year          2825 non-null   int64
 5   age_certification     1302 non-null   object
 6   runtime               2825 non-null   int64
 7   genres                2825 non-null   object
 8   production_countries  2825 non-null   object
 9   seasons               626 non-null    float64
 10  imdb_id               2666 non-null   object
 11  imdb_score            2613 non-null   float64
 12  imdb_votes            2613 non-null   float64
 13  tmdb_popularity       2768 non-null   float64
 14  tmdb_score            2337 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 331.2+ KB

In [37]:
df_paramount.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,2825.000000,2825.000000,626.000000,2613.000000,2.613000e+03,2768.000000,2337.000000
mean,1990.700177,72.254867,3.980831,6.042863,2.223876e+04,13.043838,6.045528
std,31.391022,30.068739,5.411657,1.275331,1.158232e+05,96.294178,1.484901
min,1912.000000,1.000000,1.000000,1.700000,5.000000e+00,0.009442,1.000000
25%,1965.000000,48.000000,1.000000,5.300000,1.480000e+02,1.266750,5.100000
50%,2007.000000,75.000000,2.000000,6.100000,5.480000e+02,2.620500,6.100000
75%,2017.000000,93.000000,4.000000,7.000000,3.092000e+03,6.957250,7.000000
max,2022.000000,228.000000,49.000000,9.400000,1.994599e+06,4579.160000,10.000000

In [38]:
df_paramount.describe(include='object')

,id,title,type,description,age_certification,genres,production_countries,imdb_id
count,2825,2825,2825,2812,1302,2825,2825,2666
unique,2825,2810,2,2810,11,858,138,2666
top,tm1032011,The Odd Couple,MOVIE,No overview found.,R,['documentation'],['US'],tt15392066
freq,1,3,2199,3,321,290,2183,1

### Valores Más Frecuentes

In [42]:
def valores_frecuentes(data):
  total = data.count()
  tt = pd.DataFrame(total)
  tt.columns = ['Total']
  items = []
  vals = []
  for col in data.columns:
    item = data[col].value_counts().index[0]
    val = data[col].value_counts().values[0]
    items.append(item)
    vals.append(val)

  tt['Valores más frecuentes'] = items
  tt['Frecuencia'] = vals
  tt['Porcentaje'] = np.round(vals/total*100, 3)
  return np.transpose(tt)

valores_frecuentes(df_paramount)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
Total,2825,2825,2825,2812,2825,1302,2825,2825,2825,626,2666,2613,2613,2768,2337
Valores más frecuentes,tm1032011,The Odd Couple,MOVIE,No overview found.,2017,R,90,['documentation'],['US'],1.0,tt15392066,5.6,10.0,0.6,6.0
Frecuencia,1,3,2199,3,189,321,114,290,2183,225,1,94,15,269,126
Porcentaje,0.035,0.106,77.841,0.107,6.69,24.654,4.035,10.265,77.274,35.942,0.038,3.597,0.574,9.718,5.392

In [43]:
valores_frecuentes(series)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
Total,626,626,626,618,626,561,626,626,626,626,600,574,574,598,460
Valores más frecuentes,ts291097,Rugrats,SHOW,The talk show legend travels across the countr...,2015,TV-14,22,['documentation'],['US'],1.0,tt14315936,8.0,15.0,0.6,8.0
Frecuencia,1,2,626,1,55,165,62,104,487,225,1,22,7,78,33
Porcentaje,0.16,0.319,100.0,0.162,8.786,29.412,9.904,16.613,77.796,35.942,0.167,3.833,1.22,13.043,7.174

### Valores únicos

In [45]:
def valores_unicos(data):
  total = data.count()
  tt = pd.DataFrame(total)
  tt.columns = ['Total']
  unicos = []
  for col in data.columns:
    unicos.append(data[col].nunique())
  tt['Valores únicos'] = unicos
  return np.transpose(tt)

valores_unicos(df_paramount)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
Total,2825,2825,2825,2812,2825,1302,2825,2825,2825,626,2666,2613,2613,2768,2337
Valores únicos,2825,2810,2,2810,110,11,156,858,138,30,2666,76,1627,2110,79

### Calidad de los datos
Contamos con unos datos con buena calidad ya que no hay ninguna fila duplicada y en cuanto a datos faltantes, podemos apreciar alguna descripción aunque con números insignificativos o las certificaciones de edad en producciones más antiguas. También apreciamos algunas faltas de datos en las puntuaciones de imdb pero en referencia al volumen de datos del dataset es insignificativo.

In [46]:
# Contar el número de filas duplicadas
num_duplicates = df_paramount.duplicated().sum()
print(f"Número de filas duplicadas: {num_duplicates}")

Número de filas duplicadas: 0

In [50]:
# Encontrar filas duplicadas
filas_duplicadas = df_paramount[df_paramount.duplicated()]

In [51]:
def valores_faltantes(data):
  total = data.isnull().sum()
  porcentaje = (data.isnull().sum()/data.isnull().count()*100)
  tt = pd.concat([total, porcentaje], axis=1, keys=['Total', 'Porcentaje'])
  types = []
  for col in data.columns:
    dtype = str(data[col].dtype)
    types.append(dtype)
  tt['Tipos'] = types
  return np.transpose(tt)

valores_faltantes(df_paramount)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
Total,0,0,0,13,0,1523,0,0,0,2199,159,212,212,57,488
Porcentaje,0.0,0.0,0.0,0.460177,0.0,53.911504,0.0,0.0,0.0,77.840708,5.628319,7.504425,7.504425,2.017699,17.274336
Tipos,object,object,object,object,int64,object,int64,object,object,float64,object,float64,float64,float64,float64